#root {
  min-width: 100vw;
  min-height: 100vh;
  
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
