@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT Color Variables */
:root {
  --primary-color: #5b96f7;
  --secondary-color: #70a3f5;
  --text-color: #213547;
  --background-color: #ffffff;
  --hover-color: #747bff;
  --button-background-color: #f9f9f9;
  --text-placeholder-color: #709ce6;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

aside {
  padding: 1em;
  background-color: #f0f4fa;
  /* border-radius: 8px; */
}

a {
  padding: 0;
  margin: 0;
}

.active-tab {
  color: #f0f4fa !important;
  background-color: #5b96f7;
}

.active-tab:hover {
  background-color: #70a3f5;
}

textarea:focus,
input:focus {
  outline: none;
}

input {
  background-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
