.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  background-color: #eaf2fe;
  width: 100%;
  height: 40px;
  border-radius: 1rem;
  padding: 0 1rem;
}

.input::placeholder {
  color: var(--text-placeholder-color);
  font-size: smaller;
}
