.tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius:  .5rem;
    color: black;
}

.tab-icon:hover {
    background-color: #69a3fa;
    color: white;
}